.main {
  background-color: #e2e8f0; /* equivalent to bg-stone-200 */
  border-radius: 0.75rem; /* equivalent to rounded-xl (assuming 1rem = 16px, so 0.75rem = 12px) */
  display: flex; /* equivalent to flex */
  flex-grow: 1; /* equivalent to flex-grow */
}

.main input {
  font-size: 12px;
}
.main textarea {
  font-size: 12px;
}
.main select {
  font-size: 12px;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    /* overflow: scroll; */
  }
  .scrollDiv {
    overflow: scroll;
    height: calc(90vh - 150px);
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) {
  .main input {
    font-size: 11px;
  }
  .main textarea {
    font-size: 11px;
  }
  .main select {
    font-size: 11px;
  }
  .main {
    border-radius: 0.6rem;
  }
  .scrollDiv {
    margin-bottom: 44px;
  }
}
